.primary-button{
    background-color: #4E47FF;
    border-radius: 5px;
    border-color: transparent;
    color: aliceblue;
     margin: 10px;
    padding: 10px 15px;
    border-color: none;
}
.button-container{

 display: flex;  
 justify-content: space-around;
}
h2{
color: #4E47FF;
font-weight: 800px;
font-size: 34px;
}
header{
    background-image: url("../images/Assets/Hero-bg.png");
        background-position: left top, bottom right;
        height: 520px;
}
.section-title{
    
    color:#252432;
    font-weight: bold;
    font-size:65px;
}
button{
    text-align: center;

}
.container{
    text-align: center;
    border-top: 130px;
    column-gap: 500px;
    
}
.button-description{
    margin: none;
    padding: 10px 20px;
}

